// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$ms-panel-gray: #191919;
$ms-blue: #3f51b5;
$ms-font-gray:#a3a3a3;
$ms-font-active: #fff;
