.ms-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
  }
  
  .material-shell-logo-image {
      display:block;
      max-height:32px;
      max-width: 32px;
      margin: auto;
  }