.v-list {
  .v-list-item {
    .v-list-item__icon {
      margin: 12px 0px;

      .v-icon {
        color: #a3a3a3 !important;
      }
    }
  }
  .v-list-item--active {
    &::before {
      border-left: 3px #3f51b5 solid;
      opacity: 1 !important;
      background-color: transparent;
    }
    .v-list-item__icon {
      .v-icon {
        color: #fff !important;
      }
    }
  }
}
